.text-estilo{

    color: white;
    padding-left: 8px;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}
.img-logo{
    width: 120px;
     height: 120px;
     border-radius: 60%;
     padding: 0;
     margin: 0;
    }
.desaparece{
    display: none;
   display: block;
}

.Footer{
    background-color: rgb(166, 116, 213);
}
.logoCorazones {
    width: 45px;
    height: auto;
    color: rgb(90, 7, 168);
  }